<li class="product__card">
    <a href="#" class="product__card-wrap">
        <div class="product__card-img">
            <img src="@img/products/1.png" alt="product image" class="default">
            <img src="@img/products/2.png" alt="product image" class="hover">
        </div>
        <div class="product__card-info">
            <h4 class="product__card-title">Вишиванка ОРНАМЕНТ</h4>
            <div class="product__card-price">
                <div class="price-old">1550 грн</div>
                <div class="price-new">1550 грн</div>
            </div>
        </div>
    </a>
</li>