<section class="about" id="about">
    <h2 class="tac">Про нас</h2>
    <div class="about__wrap">
        <div class="about__img"><img src="@img/about/main.webp" alt="about"></div>
        <div class="about__content">
            <div class="about__content-wrap">
                <h4>Ми об'єднуємо сучасність і давнину, міцно сплітаючи тренди з українською автентикою!</h4>
                <ul>
                    <li>працюємо офіційно ФОП</li>
                    <li>є обмін/повернення</li>
                    <li>гурт</li>
                    <li>відправка закордон</li>
                    <li>подарункове пакування</li>
                    <li>сертифікати</li>
                </ul>
                <p>Речі ВідРада — це ваш острівок стилю, сповненого радістю та можливість проявити свою індивідуальність</p>
            </div>
        </div>
    </div>
</section>