<section class="categories" id="categories">
    <a href="#" class="categories__item">
        <div class="categories__item-img"><img src="@img/categories/1.webp" alt="category"></div>
        <div class="categories__item-info">
            <h2>Вишиванки</h2>
            <p>сучасні та традиційні вишиті сорочки та блузи</p>
        </div>
    </a>
    <a href="#" class="categories__item">
        <div class="categories__item-img"><img src="@img/categories/2.webp" alt="category"></div>
        <div class="categories__item-info">
            <h2>Вишиті сукні</h2>
            <p>сучасні та традиційні вишиті сорочки та блузи</p>
        </div>
    </a>
</section>