<section class="info" id="info">
    <h2 class="tac">Handmade-колекція</h2>
    <div class="info__wrap">
        <div class="info__content">
            <h3>
                <img src="@img/icons/skein.svg" alt="skein">
                100% handmade
            </h3>
            <ul>
                <li>ручне в'язання</li>
                <li>100% ексклюзивна ручна робота</li>
                <li>італійська гіпоалергенна пряжа</li>
                <li>індивідуальні замовлення</li>
            </ul>
            <p>
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="30" viewBox="0 0 32 30" fill="none">
                        <path d="M0 8.03798C0 -0.603777 11.9663 -3.8065 15.6483 6.19747C19.3303 -3.8065 31.2966 -0.603777 31.2966 8.03798C31.2966 17.4271 15.6483 29.3315 15.6483 29.3315C15.6483 29.3315 0 17.4271 0 8.03798Z" fill="#DD2E44" />
                    </svg>
                </i>
                made with love
            </p>
        </div>
        <div class="info__img"><img src="@img/info/main.webp" alt="Handmade-колекція"></div>
    </div>
</section>