<section class="proposal" id="proposal">
    <div class="container">
        <div class="section__head">
            <h2 class="tac">@@title</h2>
        </div>
        <div class="proposal__wrap">
            <div class="swiper-button-prev"><img src="@img/icons/slide_prev-2.svg" alt="prev"></div>
            <div class="swiper products__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        @@include('../product/item.html')
                    </div>
                    <div class="swiper-slide">
                        @@include('../product/item.html')
                    </div>
                    <div class="swiper-slide">
                        @@include('../product/item.html')
                    </div>
                    <div class="swiper-slide">
                        @@include('../product/item.html')
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"><img src="@img/icons/slide_next-2.svg" alt="next"></div>
        </div>
        <div class="proposal__bttn">
            <a href="#" class="bttn">переглянути всі</a>
        </div>
    </div>
</section>