@import "../core";

*[data-popup] {
	cursor: pointer;
}

button {
	background-color: inherit;
	border: inherit;
	outline: none;
	cursor: pointer;
}

.bttn {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: $mainColor;
	padding: 1.2rem 3.3rem;
	border-radius: 0.4rem;
	font-size: 1.6rem;
	color: $white;
	transition: all 0.2s ease;
	@media (any-hover: hover) {
		&:hover {
			transform: scale(1.05);
			box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
		}
		&:active {
			transform: scale(1);
		}
	}
}
