@import "../core";

.bubbles {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	z-index: 20;
	opacity: 0;
	transition: all 0.3s linear;
	&.active {
		opacity: 1;
	}
	li {
		+ li {
			margin-top: 2.9rem;
		}
	}
	a {
		width: 4.6rem;
		aspect-ratio: 1/1;
		transition: all 0.2s ease;
		height: auto;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		img,
		svg,
		path {
			@include imgMaxW;
		}
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.05);
			}
			&:active {
				transform: scale(0.95);
			}
		}
		&.scroll-top {
			circle,
			path {
				transition: all 0.2s ease;
			}
			@media (any-hover: hover) {
				&:hover {
					circle {
						stroke: $mainColor;
					}
					path {
						fill: $mainColor;
					}
				}
			}
		}
	}
}
