</main>

<footer class="footer">
	<div class="container">
		<div class="footer__info">
			<a href="/" class="footer__logo"><img src="@img/general/logo.svg" alt="logo"></a>
			<div class="footer__menu">
				<h4>Категорії</h4>
				<ul class="menu">
					<li><a href="#">Категорія 1</a></li>
					<li><a href="#">Категорія 2</a></li>
					<li><a href="#">Категорія 3</a></li>
				</ul>
			</div>
		</div>
		<div class="footer__menu">
			<h4>Про нас</h4>
			<ul class="menu">
				<li><a href="#">Публічна оферта</a></li>
				<li><a href="#">Політика Конфіденційності</a></li>
				<li><a href="#">Доставка і оплата</a></li>
				<li><a href="#">Гурт </a></li>
			</ul>
		</div>
		<div class="footer__menu">
			<h4>Платіжні системи</h4>
			<ul class="menu footer__menu-payments">
				<li><img src="@img/payments/1.svg" alt="payment"></li>
				<li><img src="@img/payments/2.svg" alt="payment"></li>
				<li><img src="@img/payments/3.svg" alt="payment"></li>
			</ul>
		</div>
		<div class="footer__menu">
			<h4>ФОП</h4>
			<ul class="menu">
				<li><b>РНОКПП</b> 2406913363</li>
			</ul>
		</div>
		<div class="footer__menu footer__menu-social-wrap">
			<h4>Соцмережі</h4>
			<a href="#">Зв’язатися з менеджером</a>
			<ul class="menu footer__menu-social">
				<li><a href="#"><img src="@img/social/1.svg" alt="social icon"></a></li>
				<li><a href="#"><img src="@img/social/2.svg" alt="social icon"></a></li>
				<li><a href="#"><img src="@img/social/3.svg" alt="social icon"></a></li>
				<li><a href="#"><img src="@img/social/4.svg" alt="social icon"></a></li>
				<li><a href="#"><img src="@img/social/5.svg" alt="social icon"></a></li>
			</ul>
		</div>
	</div>
</footer>

<div class="bubbles">
	<ul class="bubbles__bttns">
		<li>
			<a href="#" class="scroll-top">
				<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
					<circle cx="23.5397" cy="23.5417" r="21.5417" stroke="#313B3F" stroke-width="4" />
					<path fill-rule="evenodd" clip-rule="evenodd" d="M15.1195 25.8436C14.4139 26.6934 14.5308 27.9543 15.3807 28.6599C16.2305 29.3655 17.4914 29.2486 18.197 28.3988L23.6759 21.8L29.1544 28.3984C29.86 29.2482 31.121 29.3651 31.9708 28.6595C32.8206 27.954 32.9375 26.693 32.2319 25.8432L25.2203 17.3984C25.2169 17.3942 25.2135 17.3901 25.21 17.386C24.5677 16.6177 23.4698 16.453 22.6383 16.9588C22.5303 17.0243 22.4275 17.1007 22.3316 17.188C22.249 17.2629 22.174 17.3433 22.1067 17.4282L15.1195 25.8436Z" fill="#313B3F" />
				</svg>
			</a>
		</li>
		<li><a href="#" target="_blank"><img src="@img/bubbles/tg.svg" alt="telegram"></a></li>
	</ul>
</div>


<script src="js/libs/jquery-3.6.0.min.js"></script>
<script src="js/libs/gsap.js"></script>
<script src="js/libs/ScrollMagic.js"></script>
<script src="js/libs/ScrollTrigger.js"></script>
<script type="module" src="js/app.js"></script>


</body>

</html>