<div class="anchor">
	<div class="container">
		<ul class="anchor__list">
			<li class="anchor__item"><a href="#example" class="">Доп. классы</a></li>
			<li class="anchor__item"><a href="#form" class="">CF7 форма</a></li>
			<li class="anchor__item"><a href="#video" class="">Видео плеер</a></li>
			<li class="anchor__item"><a href="#tabs">Табы</a></li>
			<li class="anchor__item"><a class="" data-popup="#popup-example">Попап окна</a></li>
			<li class="anchor__item"><a href="#slider" class="">Слайдер</a></li>
		</ul>
	</div>
</div>