<section class="form" id="form">
	<div class="container">
		<h2 class="form__title">Contact Form 7 - стандартная структура основных полей</h2>

		<div role="form" class="wpcf7" id="wpcf7-f5-o1" lang="uk" dir="ltr">
			<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>

			<form action="/#wpcf7-f5-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
				<div style="display: none;">
					<input type="hidden" name="_wpcf7" value="5" />
					<input type="hidden" name="_wpcf7_version" value="5.5.6.1" />
					<input type="hidden" name="_wpcf7_locale" value="uk" />
					<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-o1" />
					<input type="hidden" name="_wpcf7_container_post" value="0" />
					<input type="hidden" name="_wpcf7_posted_data_hash" value="" />
				</div>

				<label> Ваше ім'я
					<span class="wpcf7-form-control-wrap your-name">
						<input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" />
					</span>
				</label>
				
				<label> Ваш email
					<span class="wpcf7-form-control-wrap your-email">
						<input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" />
					</span>
				</label>
				
				<label> Ваше повідомлення (необов'язково)
					<span class="wpcf7-form-control-wrap your-message">
						<textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea>
					</span>
				</label>
				
				<span class="wpcf7-form-control-wrap menu-780">
					<select name="menu-780" class="wpcf7-form-control wpcf7-select" aria-invalid="false">
						<option value="option 1">option 1</option>
						<option value="option 2">option 2</option>
						<option value="option 3">option 3</option>
					</select>
				</span>
				
				<span class="wpcf7-form-control-wrap acceptance-form">
					<span class="wpcf7-form-control wpcf7-acceptance">
						<span class="wpcf7-list-item">
							<label><input type="checkbox" name="acceptance-form" value="1" aria-invalid="false" />
								<span class="wpcf7-list-item-label">Я погоджуюсь на обробку персональних даних</span>
							</label>
						</span>
					</span>
				</span>
				
				<input type="submit" value="Відправити" class="wpcf7-form-control has-spinner wpcf7-submit bttn" /><p style="display: none !important;"><label>&#916;<textarea name="_wpcf7_ak_hp_textarea" cols="45" rows="8" maxlength="100"></textarea></label><input type="hidden" id="ak_js_1" name="_wpcf7_ak_js" value="19"/><script>document.getElementById( "ak_js_1" ).setAttribute( "value", ( new Date() ).getTime() );</script></p><div class="wpcf7-response-output" aria-hidden="true"></div>
			</form>
		</div>
	</div>
</section>