<div class="popup-bg">
	<div class="popup" id="popup-example">
		<div class="popup__close">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15.996" viewBox="0 0 16 15.996">
				<path id="Icon_ionic-ios-close" data-name="Icon ionic-ios-close" d="M21.181,19.287,26.9,13.572A1.339,1.339,0,1,0,25,11.678l-5.715,5.715-5.715-5.715a1.339,1.339,0,1,0-1.894,1.894l5.715,5.715L11.679,25a1.339,1.339,0,0,0,1.894,1.894l5.715-5.715L25,26.895A1.339,1.339,0,0,0,26.9,25Z" transform="translate(-11.285 -11.289)"/>
			</svg>
		</div>

		<div class="popup__wrap">
			<h2 class="popup__title">Заголовок попап окна</h2>
			<div class="popup__descr">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita est doloremque temporibus dolorem adipisci, quibusdam in ipsum officia qui perferendis, rem quas? Reprehenderit labore facere ab quo exercitationem soluta maiores.</div>

			<button class="popup__bttn bttn popup__bttn-close">Закрыть</button>
		</div>
	</div>

	<div class="popup popup--thanks" id="popup-thanks">
		<div class="popup__close">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15.996" viewBox="0 0 16 15.996">
				<path id="Icon_ionic-ios-close" data-name="Icon ionic-ios-close" d="M21.181,19.287,26.9,13.572A1.339,1.339,0,1,0,25,11.678l-5.715,5.715-5.715-5.715a1.339,1.339,0,1,0-1.894,1.894l5.715,5.715L11.679,25a1.339,1.339,0,0,0,1.894,1.894l5.715-5.715L25,26.895A1.339,1.339,0,0,0,26.9,25Z" transform="translate(-11.285 -11.289)"/>
			</svg>
		</div>

		<div class="popup__wrap">
			<h2 class="popup__title">Успешная отправка формы</h2>
			<div class="popup__descr">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita est doloremque temporibus dolorem adipisci, quibusdam in ipsum officia qui perferendis, rem quas? Reprehenderit labore facere ab quo exercitationem soluta maiores.</div>

			<button class="popup__bttn bttn popup__bttn-close">Закрыть</button>
		</div>
	</div>
</div>