<section class="slider" id="slider">
	<div class="container">
		<h2 class="slider__title">Swiper слайдер</h2>

		<div class="swiper">
			<h2 class="slider__title">
				Слайдер в 3 колонки
			</h2>

			<div class="swiper-button-prev"><img src="img/icons/slide_prev.svg" alt="prev"></div>
			<div class="swiper-button-next"><img src="img/icons/slide_next.svg" alt="next"></div>

			<div class="slider__slider swiper-wrapper">
				<div class="slider__review swiper-slide">
					<h2>Slide 1</h2>
				</div>

				<div class="slider__review swiper-slide">
					<h2>Slide 2</h2>
				</div>

				<div class="slider__review swiper-slide">
					<h2>Slide 3</h2>
				</div>

				<div class="slider__review swiper-slide">
					<h2>Slide 4</h2>
				</div>
			</div>
		</div>

	</div>
</section>