<section>
	<div class="container">
		<div class="tabs-container" id="tabs">
			<div class="tabs-wrap">
				<ul class="tabs-switch">
					<li data-filter="all" class="active">Все категории</li>
					<li data-filter="1">Категория 1</li>
					<li data-filter="2">Категория 2</li>
					<li data-filter="3">Категория 3</li>
					<li data-filter="4">Категория 4</li>
					<li data-filter="5">Категория 5</li>
					<li data-filter="6">Категория 6</li>
				</ul>
			</div>
		
			<div class="tabs-content">
				<div class="tabs-item" data-term="1">
					Category 1
				</div>
		
				<div class=" tabs-item" data-term="2">
					Category 2
				</div>
		
				<div class="tabs-item" data-term="3">
					Category 3
				</div>
		
				<div class="tabs-item" data-term="4">
					Category 4
				</div>
		
				<div class="tabs-item" data-term="5">
					Category 5
				</div>
		
				<div class="tabs-item" data-term="6">
					Category 6
				</div>
			</div>
		</div>
	</div>
</section>